# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# logs
/backend/local/*.log

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
/backend/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled JavaScript files
/backend/**/lib/**/*.js
/backend/**/lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

