body {
  background-color: #282c34;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
  width: 100%;
  overflow: auto;
}

.App section.main {
  width: 70%;
}

.App section.rail {
  width: 30%;
}